<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gal's Blog</title>
</head>
<body>
    <div>
        <h1><a href="/">Gal's Blog</a></h1>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>"Nobody says you must laugh, but a sense of humor can help you overlook the unattractive, tolerate the unpleasant, cope with the unexpected, and smile through the day." —Ann Landers </p>
    </div>

    <div>
        <p>published: 14.06.2014, 12:14</p>
        <h2><a href="">My second post</a></h2>
        <p>"Perhaps I know best why it is man alone who laughs; he alone suffers so deeply that he had to invent laughter." —Friedrich Nietzsche</p>
    </div>
</body>
</html>